---
layout: page
title: Character Set Reference
redirect_from:
- /_pages/doc/char.html
---
This reference is generated from: <a href="http://www.w3.org/TR/html4/sgml/entities.html ">http://www.w3.org/TR/html4/sgml/entities.html</a> using the <code>entities.tcl</code> demo program from the graphviz distribution.
<p>
An official version of this reference <a href="http://dev.w3.org/html5/spec/named-character-references.html#named-character-references">is available at the W3C site</a>.
<img src="gdtclft.entities.example.png" alt="character glyphs">
