<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body{% if page.background %} background="{{page.background}}"{% endif %}>
	{% include header.html %}
	<main>
		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
</body>

</html>
